@{
    ViewData["Title"] = "Orders Page";
}

<div class="text-center">
    <h1 class="display-4">My Orders</h1>
 <hr/>
 <ol>
    <li>1234    Mustang Delivered   1/2/2023        5600</li>
    <li>1235    Tesla Rejected   5/2/2023         34000</li>
    <li>1236    Nissan Inprocess   12/2/2023       87000</li>
    <li>1237    CDAC Know It Zindabad!!!       34000</li>
    <li>1238    Future is Here   21/2/2023       230000</li>
 </ol>
</div>
