@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NFS MOST WANTED</h1>
    <hr/>
    <h3>About us </h3>
    <h4>Mentor as a Service</h4>
    <h4>Need For Speed Pvt. Ltd.</h4>
</div>
