@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CAR</h1>
    <hr/>
    <h3>
        Buy Car from Elon Musk
    </h3>
    <img src="/images/Mustang.jpg" width="1376" height="786"/>
    <ol style="in-line">
        <li>Mustang</li>
        <li>Tesla</li>
        <li>Lambo</li>
    </ol>
    <p>Learn about <a href="">building Web apps with ASP.NET Core</a>.</p>
</div>
